result
up
hosts/up-*
.direnv
book
/hosts/NixOS-files/
/hosts/razer-configuration.nix
/profiles/develop/emacs/config/.org-id-locations
/profiles/develop/emacs/config/eshell
/profiles/develop/emacs/config/readme.el
/profiles/develop/emacs/config/recentf
/profiles/develop/emacs/config/transient
/profiles/develop/emacs/config/var
/profiles/develop/emacs/config/tmp
/profiles/develop/emacs/config/auto-save-list/
/profiles/develop/emacs/config/org-roam.db
/profiles/develop/emacs/config/savehist
/profiles/develop/emacs/config/tramp
